@model IEnumerable<NoVe.Models.Note>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Note Bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Note bearbeiten</h1>
@if (ViewBag.Message != null)
{
    <p>@Html.Raw(ViewBag.Message)</p>
}
<div class="login-wrapper text-center">
  @using (Html.BeginForm("NotenBearbeiten", "Noten"))
  {

    <div class="login-form">
        @if (@Model.Count() != 0)
        {
            @foreach (var note in Model)
            {
                <label class="form-login-label" name="notenwert">Notenwert</label>
                <input class="form-login" type="text" name="notenwert" id="notenwert" value="@note.Notenwert" min="1" max="6" step="0.05" />

            }
            <div class="login-buttons">
              <input class="login-submit" type="submit" name="submit" value="Speichern" />
              <a class="nav-link login-button login-submit" asp-area="" asp-controller="Noten" asp-action="NotenEditBack">Zurück</a>
            </div>
        }
      </div>
  }
</div>
