@model IEnumerable<NoVe.Models.Beruf>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Berufe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste aller Berufe</h1>
<table class="table accept-berufe">
    <thead>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var beruf in Model)
        {
            <tr>
                <td>@beruf.Name</td>
                <td>
                    @Html.ActionLink("Löschen", "BerufLoeschen", new { id = beruf.Id })
                    @Html.ActionLink("Bearbeiten", "BerufEdit", new { id = beruf.Id }) @*, new { id = beruf.Id }*@
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("SafeBerufe", "Admin"))
{
    <label class="form-login-label" name="name">Name</label>
    <input class="form-login" type="text" name="name" id="name" />
    <input class="login-submit" type="submit" name="submit" value="Speichern" />
}
