@model IEnumerable<NoVe.Models.Fach>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Fach Bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fach bearbeiten</h1>

@using (Html.BeginForm("FachBearbeiten", "Admin"))
{
    @if (@Model.Count() != 0)
    {
        @foreach (var fach in Model)
        {
            <label class="form-login-label" name="name">Name</label>
            <input class="form-login" type="text" name="name" id="name" value="@fach.Name" />

            <label class="form-login-label" name="gewichtung">Gewichtung</label>
            <input class="form-login" type="number" name="gewichtung" id="gewichtung" value="@fach.Gewichtung" />

            <label class="form-login-label" name="rundung">Rundung</label>
            <input class="form-login" type="number" name="rundung" id="rundung" step="0.1" value="@fach.Rundung" />


        }
        <input class="login-submit" type="submit" name="submit" value="Speichern" />
        <a class="nav-link login-button login-submit" asp-area="" asp-controller="Admin" asp-action="FachBack">Zurück</a>

    }
}
