<div class="text-center">
    <h1 class="display-4">Administration</h1>
    <div class="admin-nav">
        <a class="nav-link text-dark admin-nav-item" asp-area="" asp-controller="Admin" asp-action="KlassenVerwalten">Klassen Verwalten</a>
        <a class="nav-link text-dark admin-nav-item" asp-area="" asp-controller="Admin" asp-action="BenutzerBestaetigen">Benutzer bestätigen</a>
        <a class="nav-link text-dark admin-nav-item" asp-area="" asp-controller="Admin" asp-action="AlleBenutzer">Benutzer verwalten</a>
    </div>
    <div class="admin-nav">
        <a class="nav-link text-dark admin-nav-item" asp-area="" asp-controller="Admin" asp-action="Berufe">Berufe</a>
    </div>
</div>
