<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="KlassenVerwalten">Klassen Verwalten</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="BenutzerBestaetigen">Unbestätigte Benutzer bestätigen</a>