@{
    ViewData["Title"] = "Klasse Hinzuf端gen";
}

<div class="text-center">
    <h1 class="display-4 class-title">Klasse Hinzuf端gen</h1>
    <div class="login-wrapper">
        <!-- Html.BeginForm(Method, Controller) -->
        @using (Html.BeginForm("AddKlasse", "Admin"))
        {
          <div class="login-form">
            <label class="form-login-label" name="KlasseName">Klassenname</label>
            <input class="form-login" type="text" name="KlasseName" id="KlasseName" />

            <label class="form-login-label" name="EingabedatumStart">Startdatum</label>
            <input class="form-login" type="date" name="EingabedatumStart" id="EingabedatumStart" />

            <label class="form-login-label" name="EingabedatumEnde">Enddatum</label>
            <input class="form-login" type="date" name="EingabedatumEnde" id="EingabedatumEnde" />

            <label class="form-login-label" name="KlassenlehrerEmail">KlassenlehrerEmail</label>
            <input class="form-login" type="text" name="KlassenlehrerEmail" id="KlassenlehrerEmail" />

            <label class="form-login-label" name="BerufName">Beruf</label>
            <select class="form-login" name="BerufName" id="BerufName">
                <option style="color: white !important;" value="1">Informatiker</option>
            </select>

            <div class="login-buttons">
              <input class="login-submit" type="submit" name="submit" value="Klasse Hinzuf端gen" />
              <a class="nav-link login-submit" asp-area="" asp-controller="Admin" asp-action="KlassenVerwalten">Zur端ck zur Verwaltung</a>
            </div>
         </div>
        }
        
    </div>
</div>
