@model List<NoVe.Models.Klasse>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Klassenverwaltung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Klassenverwaltung</h1>
@if (ViewBag.Message != null)
{
    <p>@Html.Raw(ViewBag.Message)</p>
}
<table class="table accept-users">
    <thead>
        <tr>
            <td>Name</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            @foreach (var klasse in Model)
            {
                <tr>
                    <td>@klasse.KlasseName</td>
                    <td><a asp-controller="Detail" asp-action="DetailKlasse" asp-route-id=@klasse.Id>Details</a></td>
                    <td><a asp-controller="Admin" asp-action="KlassenEdit" asp-route-id=@klasse.Id>Bearbeiten</a></td>
                    <td>@Html.ActionLink("Archivieren", "KlassenArchive", new { id = klasse.Id })</td>
                    <td>@Html.ActionLink("Löschen", "klasseloeschen", new { id = klasse.Id })</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="login-buttons">
    <a class="nav-link login-submit" asp-area="" asp-controller="Admin" asp-action="KlassenHinzufuegen" style="text-align: center;">Klasse hinzufügen</a>
    <a class="nav-link login-submit" asp-area="" asp-controller="Admin" asp-action="KlassenArchiv" style="text-align: center;">Zum Klassenarchiv</a>
</div>
<a class="nav-link login-button login-submit" asp-area="" asp-controller="Admin" asp-action="ToIndexBack" style="text-align: center; margin-top: 15px;">Zurück</a>

