@model List<NoVe.Models.Klasse>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Klassenverwaltung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Klassenverwaltung</h1>
<table class="table accept-users">
    <thead>
        <tr>
            <td>Name</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            @foreach (var klasse in Model)
            {
                <tr>
                    <td>@klasse.KlasseName</td>
                    <td><a asp-controller="Detail" asp-action="Index" asp-route-id=@klasse.Id>Details</a></td>
                    <td><a asp-controller="Edit" asp-action="" asp-route-id=@klasse.Id>Bearbeiten</a></td>
                    <td>@Html.ActionLink("Löschen", "klasseloeschen", new { id = klasse.Id})</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="login-buttons klassenverwalten-buttons">
  <a class="nav-link add-class-button login-submit add-classes" asp-area="" asp-controller="Admin" asp-action="KlassenHinzufuegen">Klasse Hinzufügen</a>
</div>
