@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div>
        <!-- Html.BeginForm(Method, Controller) -->
        @using (Html.BeginForm("setLogin", "Account"))
        {
            <label name="email">Email</label>
            <input type="email" name="email" id="email" />
            <label name="password">Password</label>
            <input type="password" name="password" id="password" />
            <input type="submit" name="submit" value="submit" />
        }
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registrieren</a>
    </div>
</div>
