@{
    ViewData["Title"] = "Passwort Vergessen";
}
@if (ViewBag.Message != null)
{
    <p>@Html.Raw(ViewBag.Message)</p>
}
<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div class="login-wrapper">
        <!-- Html.BeginForm(Method, Controller) -->
        @using (Html.BeginForm("PasswordForgottenVerify", "Account"))
        {
            <div class="login-form">
                <label class="form-login-label" name="email">Email</label>
                <input class="form-login" type="email" name="email" id="email" />

                <div class="login-buttons">
                    <input class="login-submit" type="submit" name="submit" value="Passwort Zurücksetzen" />
                </div>

            </div>

        }
    </div>
</div>
