@{
    ViewData["Title"] = "Registrierung";
}

<div class="text-center">
    <h1 class="display-4">Registrieren</h1>
    <div class="login-wrapper">
        <!-- Html.BeginForm(Method, Controller) -->

        @if (ViewBag.Message != null)
        {
            <p>@Html.Raw(ViewBag.Message)</p>
        }

        @using (Html.BeginForm("registerCheck", "Account"))
        {
            <div class="login-form">
                <label class="form-login-label" name="email">Email</label>
                <input class="form-login" type="email" name="email" id="email" />

                <label class="form-login-label" name="vorname">Vorname</label>
                <input class="form-login" type="text" name="vorname" id="vorname" />

                <label class="form-login-label" name="nachname">Nachname</label>
                <input class="form-login" type="text" name="nachname" id="nachname" />

                <label class="form-login-label" name="password">Password</label>
                <input class="form-login" type="password" name="password" id="password" />

                <label class="form-login-label" name="passwordCheck">Password Best채tigen</label>
                <input class="form-login" type="password" name="passwordCheck" id="passwordCheck" />

                @*<label class="form-login-label" name="beruf">Beruf</label>
                <select class="form-login" name="beruf" id="beruf">
                    <option style="color: white !important;" value="1">Informatiker</option>
                </select>*@

                @*<label class="form-login-label" name="klasse">Klasse</label>
                <select class="form-login" name="klasse" id="klasse">
                    <option style="color: white !important;" value="1">INA3a</option>
                </select>*@

                @*<label class="form-login-label" name="rolle">Rolle</label>
                <select class="form-login" name="rolle" id="rolle">
                    <option style="color: white !important;" value="Sch체ler">Sch체ler</option>
                    <option style="color: white !important;" value="Berufsbildner">Berufsbildner</option>
                    <option style="color: white !important;" value="Lehrer">Lehrer</option>
                    <option style="color: white !important;" value="Administrator">Administrator</option>
                </select>*@

                <label class="form-login-label" name="klasseCode">Klassen-Code</label>
                <input class="form-login" type="number" name="klasseCode" id="klasseCode" />

                <label class="" name="berufsbildner">Ich bin ein Berufsbildner</label>
                <input class="form-login" type="checkbox" name="berufsbildner" id="berufsbildner" />

                <div class="login-buttons">
                    <input class="login-submit" type="submit" name="submit" value="Registrieren" />
                    <a class="nav-link login-submit" asp-area="" asp-controller="Account" asp-action="Login">Zur체ck zum Login</a>
                </div>
            </div>
        }

    </div>
</div>
