@{
    ViewData["Title"] = "Verifizierung";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div>
        <!-- Html.BeginForm(Method, Controller) -->
        Sie wurden erfolgreich verifiziert, gehen sie auf die startseite zurück.
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Startseite</a>
    </div>
</div>
