<div class="text-center">
    @if (ViewBag.Message != null)
    {
        <p>@Html.Raw(ViewBag.Message)</p>
    }

    <h1 class="display-4">Lehrerübersicht</h1>
    <div class="admin-nav">
        <a class="nav-link text-dark admin-nav-item" asp-area="" asp-controller="Lehrer" asp-action="SchuelerListe">Schüler verwalten</a>
        <a class="nav-link text-dark admin-nav-item" asp-area="" asp-controller="Lehrer" asp-action="SetZeit">Eintrag-Zeit bearbeiten</a>
        @*<a class="nav-link text-dark admin-nav-item" asp-area="" asp-controller="Admin" asp-action="AlleBenutzer">Benutzer verwalten</a>*@
    </div>
    @*<div class="admin-nav">
            <a class="nav-link text-dark admin-nav-item" asp-area="" asp-controller="Admin" asp-action="Berufe">Berufe</a>
        </div>*@
</div>
