@model IEnumerable<NoVe.Models.User>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste aller Benutzer</h1>
<table class="table accept-users">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Vorname @user.Nachname</td>
                <td>@user.Email</td>
                <td>
                    @Html.ActionLink("Löschen", "benutzerloeschen", new { id = user.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
